{{define "eng/close"}}
<table width="60%">
	<tr><td align="left">
<p>
The web site iri-labs.com was operating in service of IRI France, SAS.
</p>

<p>
IRI France, SAS was a 1 person LLC dedicated to research and development operated by Scott Cotton.  
Effective Feb 1, 2019, IRI France, SAS no longer accepts engagements and is no longer operational.
</p>

<p>
The domain iri-labs.com will remain operational for the continuity of the 
<a href="http://github.com/irifrance">open source projects</a> which were 
hosted by IRI France, SAS.
</p>

<p>
Scott will go in to join <a href="http://mathworks.com">The MathWorks</a>.
</p>


<p>
<table>
	<tr><td>Orcid Id:</td><td>
<a href="http://orcid.org/0000-0002-2390-0269">orcid.org/0000-0002-2390-0269</a>
	</td></td>
	<tr><td>Linked In Profile:</td><td>
<a href="https://fr.linkedin.com/in/wscii1">LinkedIn</a>
	</td></tr>
	<tr><td>GitHub</td><td>
			<a href="http://github.com/wsc0">GitHub</a>
	</td></tr>
</table>

</p>
{{end}}
