{{define "eng/contact"}}
{{template "eng/head" .}}

</center>

<table width="60%">

	{{ if .ContactThanks }}
		<p style="color: blue;">Thanks for contacting us.  We'll get back to you soon, usually in less than 1 business day.</p>
	{{end}}
</table>
<center>
{{template "eng/foot"}}
{{end}}
