{{define "eng/womb"}}
{{template "eng/head" .}}

<center><h1>The Womb</h1></center>

Welcome to the Womb, where we present news from our incubation initiatives and projects.

</center>
<center>


	<ul style="list-style: none">
		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td> iri/e65615c82fb9b347 </td>
		<td align="left"> SCAFT: Scalable Cloud Architecture for Formal Technologies </td>
	</tr>
	<tr>
		<td colspan="2" class="snippit" border="5px"> This initiative sets forth  design, development, and evaluation of cloud based microservice/cluster
			infrastructure for formal technologies.  Most academic endeavors in this field either do not use clusters
		or use them in a very rudimentary way.  Commercial engines are starting to be based on cloud infrastructure
		where communication, dispatch, decomposition, and dispatch of formal methods are advanced.  This initiative
		involves co-engagement from academia and industry to propose define and deploy (in public where possible)  microservice/protocol 
		based communication between formal processing components </td>
	</tr>
</table>
		</li>

		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td> iri/4c8abe2b14085305 </td>
		<td align="left"> NIPI: New Intellectual Property Instruments </td>
	</tr>
	<tr>
		<td colspan="2" class="snippit"> This initiative targets alternative intellectual property instruments, aimed at further enabling technologists
			and small organisations.
		Existing IP instruments are not crowd sourced and often form barriers to innovation by imposing 
		undue legal overhead or risks in producing works, even sometimes trivial ones. Additionally, existing instruments
		assume a race to establish lack of prior art or even plagiarism in a world of ideas and writings which has become too complex and fast paced for any 
		entity to truly establish such characteristics.  This initiative targets these problems by proposing
		</td>
	</tr>
</table>
		</li>
		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td>iri/62f5ae63f5b2ed12</td>
		<td align="left"> UTAC: User managed terms and conditions</td>
	</tr>
	<tr>
		<td colspan="2" class="snippit"> This project aims to ameliorate unconscionable use of terms and conditions in software,
			apps, and web sites.  Proposals and implementations will be set forth to provide and disseminate an end-user-centric
			view of managing IP terms and conditions which makes end-user management more conscionable, thus easier, 
			and thus of interest to providers of software apps, and web sites.
		</td>
	</tr>
</table>
		</li>
</ul>



{{template "eng/foot"}}
{{end}}
