{{define "fra/about"}}
{{template "fra/head" .}}

</center>

<table width="60%">
	<tr><td align="left">
<p>
IRI France, SAS demarre sous la direction de M William Cotton.  M Cotton a eu l'opportunité à s'engager 
dans la recherche et développement dans des nombreuses institution à beaucoups des endroits.
Il a trouvé deux vérités partout.

<ol>
	<li>Le travaille de chacun est supérieur à ceçi du reste.</li>
	<li>Assez souvent, chacun essentialement fait la même chose.</li>
</ol>

M. Cotton est diplomé en l'anthropologie médicale de l'université de la Pennsylvanie aux États-unis,
a obtenu un MSc dans programmation des logiques de l'institute de Max Planck pour informatique à Saarbrucken, 
et un PhD en mathematiques appliquées de l'université de Grenoble.  Il a travaillé comme chef de technologié d'un startup internet, 
dans le domain de la vérification et modelisation pour outils d'analyse EDA, ingénieur de recherche en linquistique computationnel, 
post-doctorat en optimisation, assistante bibliothequaire, livraisons des pizzas en velo, etc.  Il est fièrement père de deux et
il profite bien de la pratique des sports de type propulsion-de-soi dans les Alpes au tour de Grenoble.
</p><p>
<table>
	<tr><td>Orcid Id:</td><td>
<a href="http://orcid.org/0000-0002-2390-0269">orcid.org/0000-0002-2390-0269</a>
	</tr></td>
	<tr><td>Linked In Profile:</td><td>
<a href="https://fr.linkedin.com/in/wscii1">LinkedIn</a>
	</tr></td>
</table>

</p>
		</td></tr>
		<tr>
			<td>
			IRI France, SAS est dedié a l'amelioration de notre monde; elle s'engage localement.
			Elle support  <a href="http://www.croix-rouge.fr">le croix rouge</a>,
			<a href="http://www.aid-et-action.org">Aid et Action</a>, et <a href="http://gemgrenoble.blogspot.fr/">GEM</a>.
			</td>
		</tr>

</table>
<center>
{{template "fra/foot"}}
{{end}}
