{{define "fra/close"}}
<table width="60%">
	<tr><td align="left">
<p>
Le site web iri-labs.com était en service de IRI France, SAS.
</p>

<p>
IRI France, SAS était un SASU R\&amp;D dirigé by Scott Cotton.  
A compté du 1 fev, 2019, cette entreprise n'accepte plus des engagements 
est n'est plus opérationelle.
</p>

<p>
Le domain iri-labs.com restera pour la continuitée <a href="http://github.com/irifrance">des projets open source
	de IRI France, SAS.</a>
</p>

<p>
Scott va en suite joindre <a href="http://mathworks.com">The MathWorks</a>.
</p>


<p>
<table>
	<tr><td>Orcid Id:</td><td>
<a href="http://orcid.org/0000-0002-2390-0269">orcid.org/0000-0002-2390-0269</a>
	</td></td>
	<tr><td>Linked In Profile:</td><td>
<a href="https://fr.linkedin.com/in/wscii1">LinkedIn</a>
	</td></tr>
	<tr><td>GitHub</td><td>
			<a href="http://github.com/wsc0">GitHub</a>
	</td></tr>
</table>

</p>
{{end}}
