{{define "fra/jobs"}}
{{template "fra/head" . }}

<center><h1>Jobs</h1></center>

<table width="70%">
	<tr><td>
			<h3>Partenaires</h3>
			<p>

			Vous faites bouger avec des expertises compatible dans le domain de
			récherche et developpement.  Vous voulez changer le façon dont R\&amp;D
			se passe:  la rendre plus éfficace, plus motivé par la découverture, la
			simplicité, et la réussite de des objectifs boite-noire; la rendre moins
			d'un style de preuve par l'intimidation, l'entitrement, ou des clubs des
			garçons vieux.  Vous êtes empassionné(e) d'encourager travail robust et
			vous êtes encore plus empassionné(e) d'encourager des resultats gagnants.
			Pour vous, ça serait un honneur a servir notre équipe en réalisant ces
			objectifs.

			</p></td></tr>

	<tr><td>
			<h3>Sorciér d'opérations</h3>
			<p>
			Vous êtes empassionné pour faire marcher les processus de l'êntreprise 
			sans êmpechement.  Vous comprennez vite et vous vous adaptez aux besoins
			particulièrs lorsque vous ne perdez pas les cadres des plus gros démarches.
			</p>
		</td></tr>

	<tr><td>
			<h3>BG Research Division Chief Scientist</h3>
			<p>
			Vous créez des resultats fonds, simples, et bien éffectifs dans vos domaines de récherches.
			Vous avez une éducation et/ou éxpérience large et suffisament de courage de questionner et evaluer 
			indépendement même les suppositions le plus accéptées.  Au même temps, vous comprenez 
			le courant dominant et vous catalysez facilement la synergie entre des personnes 
			R\&amp;D.
			</p>
	</td></tr>

</table>

{{template "fra/foot"}}
{{end}}
