{{define "fra/mission"}}
{{template "fra/head" . }}
					<table width="100%">

						<tr><td align="center">
								<table width="65%" class="mission">
									<tr><td align="left">
											<p>
IRI France, SAS est un fournisseur des services de la récherche et développement pour 
des besoins critiques non satisfaits.  Nous résolvons des problèmes difficiles de coupe de bord
avec une methodologie agile, réaliste qui considère des solutions norms et hors-norms.  Nous
livrons des resultats à la fois top, facilement transférable, et tel que possible, simple. 
											</p>
										</td></tr></table>
							</td></tr>
						<tr><td align="center">
								<table width="65%" class="mission">
									<tr><td align="left">
            <p>
IRI France, SAS démarre sur iri-labs.com. 
Comme <a href="/womb">incubateur</a>, IRI Labs propose, solicite, et hôte
des projets et des collaborations.
						</p>
										</td></tr></table>
						</td></tr>
					</table> 
{{template "fra/foot"}}
{{end}}
