{{define "fra/root"}}
{{template "fra/head" . }}
<table width="80%">
	<col width="33%"/>
	<col width="33%"/>
	<col width="33%"/>
	<tr>
		<td align="top"><p>Ce qu'on fait</p>
			<p>
			<!--
			IRI France, SAS provides research and development services for critical unmet needs.
We solve cutting edge hard problems with an outside-the-box, anything goes, down to earth, agile methodology.
We deliver top notch, easily transferable results with an emphasis on simplicity.
			-->
			IRI France, SAS fournit des services de la recherche et développement pour des besoins critiques 
			et non satisfaits.

			</p>
		</td>

		<td>
			Nous avons des expertises avancées dans les domains suivant:
			<ul>
				<li>L'optimisation, particulièrement multicritère et des problèmes avec des composants discrets/Boolean et séquentiels.
					<li>Des algorithms pour des problèmes d'un nature intractable au niveau de la théorie.</li>
				<li>Des technologies formelles, particulièrement pour la vérification de RTL/netlists, security, design </li>
				<li>Modelisation mathematiques et logiques</li>
				<li>Des linquistiques computationnels</li>
				<li>Simulation</li>
				<li>Des technologies cloud /[P|S]aaS</li>
			</ul>
		</td>


		<td> Industries ciblées
			<ul>
				<li>Hardware: vérification and optimisation</li>
				<li>Monitoring/Surveillance Santé</li>
				<li>Aerospace</li>
				<li>Devices médicales</li>
			  <li>Santé Sociale: Monitoring/Surveillance</li>
			  <li>Sciences des bibliotheques reseaux des ontologies/connaissances</li>
				<li>Biologie, chimie, physiques computationnelle</li>
				<li>Psychologie et l'anthropologie computationnelle.</li>
				<li>Securité/défense/intelligence internationale.</li>
			</ul>
		</td>
	</tr>
</table>

<a href="https://www.linkedin.com/company/10634567">Check us out</a> on LinkedIn, or
					<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
					<script type="IN/FollowCompany" data-id="10634567" data-counter="top"></script>

{{template "fra/foot"}}
{{end}}
