{{define "fra/womb"}}
{{template "fra/head" .}}

<center><h1>La Matrice</h1></center>

Bienvenue à la matrice, ou nous presentons des nouvelles de nos initiatives et projets d'incubation.

</center>
<center>


	<ul style="list-style: none">
		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td> iri/e65615c82fb9b347 </td>
		<td align="left"> SCAFT: Scalable Cloud Architecture for Formal Technologies </td>
	</tr>
	<tr>
		<td colspan="2" class="snippit" border="5px"> Cette initiative fournit des désigns, développement, and l'évaluation 
			des infrastructures pour des téchnologies formelles de type cloud/microservice/cluster.
			La plus part des efforts dans ce domain utilise la distribution/composition dans une manière rudimentaire.
		Des moteurs industriels commence à utiliser un cloud infrastructure ou la communication, expédition, et décomposition
		des méthodes formelle sont avancées.
		Cette initiative éngage l'academia et l'industrie à proposer, definier, et mettre en place (en publique ou possible) 
		la communication de type microservice/protocol entre des composants des moteurs formel.
		</td>
	</tr>
</table>
		</li>

		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td> iri/4c8abe2b14085305 </td>
		<td align="left"> NIPI: New Intellectual Property Instruments </td>
	</tr>
	<tr>
		<td colspan="2" class="snippit">
		Cette initiative s'addresse aux instruments alternatifs de la propriété intellectuelle (PI), en ciblant technologues 
		et des petites organisations.  Les instruments existants PI ne repond pas directement à la publique et assez souvent construisent
		des barrières à l'innovation en imposant couts généraux des demarches légales ou des risques en produisant des oeuvres, même des 
		fois des oeuvres banal.  Et encors, les instruments suppose a priori un concours à établir une manque d'art antérieur
		dans un monde des idèes qui est devenu trop complexe et qui est essentiellement basée sur progression en parallel, un monde 
		qui n'admet pas la possibilité à établir tel characteristiques.  Cette initiative cible ces problèmes en proposants des
		nouveau instruments de la propriéte intellectuel.
		</td>
	</tr>
</table>
		</li>
		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td>iri/62f5ae63f5b2ed12</td>
		<td align="left"> UTAC: User managed terms and conditions</td>
	</tr>
	<tr>
		<td colspan="2" class="snippit"> 
			Ce projet cible l'amélioration des termes et conditions (TAC) déraisonable dans logiciel,
			les apps, et les sites web.  Des propositions et des implementations seront énoncés pour fournir 
			et diffuser un perspectif à la base des utilisateurs de la gestion des TAC des PIs raisobale, plus facile,
			et donc à l'interêt des fournisseurs des logiciels, apps, et sites.
		</td>
	</tr>
</table>
		</li>
</ul>



{{template "fra/foot"}}
{{end}}
