{{define "about"}}
{{template "head" .}}

</center>

<table width="60%">
	<tr><td align="left">
<p>
IRI France, SAS is booting under the direction of William Cotton.  William has had the opportunity to 
engage in R&amp;D in a wide variety of institutions and places.  He found two truths everywhere.  

<ol>
	<li>Everybody's work is better than that of everyone else.</li>
	<li>Even so, often enough, everyone is essentially doing the same thing.</li>
</ol>

Mr Cotton attained a BA in medical anthropology from University of Pennsylvania, a MSc in Programming Logics
from The Max Planck Institute for Computer Science in Saarbrucken, and a PhD in applied math from University 
of Grenoble.  He has worked as internet startup CTO, research engineer/analyst in a variety of domains, library 
assistant, dominos pizza delivery, etc.  He is proud father of 2 and enjoys self propulsion sports in the Alps 
around Grenoble.
</p>
		</td></tr>
		<tr>
			<td>
			IRI France, SAS is dedicated to making our world a better place by local engagement in
			community activities.  We support the <a href="http://www.croix-rouge.fr">french red cross</a>,
			<a href="http://www.aidandaction.org">Aid and Action</a>, and <a href="http://gemgrenoble.blogspot.fr/">GEM</a>.
			</td>
		</tr>


</table>
<center>
{{template "foot"}}
{{end}}
