{{define "about"}}
{{template "head" .}}

</center>

<table width="60%">
	<tr><td align="left">
<p>
IRI France, SAS was a 1 person R&amp;D LLC operated by Scott Cotton.  
Effective Feb 1, 2019, this company is closed to new engagements and
non-operational, allowing Scott to join <a href="http://mathworks.com">The MathWorks</a>.


<p>
<table>
	<tr><td>Orcid Id:</td><td>
<a href="http://orcid.org/0000-0002-2390-0269">orcid.org/0000-0002-2390-0269</a>
	</td></td>
	<tr><td>Linked In Profile:</td><td>
<a href="https://fr.linkedin.com/in/wscii1">LinkedIn</a>
	</td></tr>
	<tr><td>GitHub</td><td>
			<a href="http://github.com/wsc0">GitHub</a>
	</td></tr>
</table>

</p>
<center>
{{template "foot"}}
{{end}}
