{{define "foot"}}
				</td>
			</tr>
		</table>
		<hr color="#cc0000" width="80%" margin-top="51px">
		<center style="color:brown;font-style:italic"><small>Copyright IRI France, SAS, 2016.</small></center>
		</center>
	</body>
</html>
{{end}}

