{{define "jobs"}}
{{template "head" . }}

<center><h1>Jobs</h1></center>

<table width="70%">
	<tr><td>
			<h3>Partners</h3>
			<p>
			You are a driver with interfacing yet complementary expertise in the
			research and development industry.  You want to change the way R&amp;D is
			conducted; to make it leaner, to make it more about discovery,
			simplicity, and attaining black-box goals and make it less about sales, 
			proof by intimidation, or title. You are passionate about rewarding hard work and
			more passionate about rewarding winning results.  For you, it would be an
			honour to serve our team bringing about these goals.  </p> </td></tr>

	<tr><td>
			<h3>Operations Wizard</h3>
			<p>
			You are passionate about making business processes run smoothly.  You 
			quickly understand and adapt to particular needs while not loosing track of 
			the big picture.
			</p>
		</td></tr>

	<tr><td>
			<h3>BG Research Division Chief Scientist</h3>
			<p>
			You deliver game changing simple, effective results in your research
			domains.  You have a broad education and/or experience and enough grit to
			question and evaluate independently even the most broadly accepted assumptions.  At
			once, you understand the main stream well and readily catalyze synergy
			between R&amp;D gals and guys.
			</p>
	</td></tr>

</table>

{{template "foot"}}
{{end}}
