{{define "mission"}}
{{template "head" . }}
					<table width="100%">

						<tr><td align="center">
								<table width="65%" class="mission">
									<tr><td align="left">
											<p>
IRI France, SAS provides research and development services for critical unment
needs.  We solve cutting edge hard problems with an outside-the-box, anything
goes, down to earth, agile methodology.  We deliver top notch, easily
transferable results with an emphasis on simplicity of delivery.  
											</p>
										</td></tr></table>
							</td></tr>
						<tr><td align="center">
								<table width="65%" class="mission">
									<tr><td align="left">
            <p>
IRI France, SAS is booting on iri-labs.com. 
As an <a href="/womb">incubator</a>, IRI Labs proposes, solicits, and hosts
projects and collaborations. 
						</p>
										</td></tr></table>
						</td></tr>
					</table> 
{{template "foot"}}
{{end}}
