{{define "root"}}
{{template "head" . }}
<table width="80%">
	<col width="33%"/>
	<col width="33%"/>
	<col width="33%"/>
	<tr>
		<td align="top"><p>What we do</p>
			<p>
			IRI France, SAS provides research and development services for critical unmet needs.
We solve cutting edge hard problems with an outside-the-box, anything goes, down to earth, agile methodology.
We deliver top notch, easily transferable results with an emphasis on simplicity.
			</p>
		</td>

		<td>
			We have advanced expertise in
			<ul>
				<li>Optimisation, especially multicriteria and problems with discrete/Boolean and sequential components</li>
				<li>Algorithms for theoretically hard problems</li>
				<li>Formal technologies, especially for hardware verification, security, design </li>
				<li>Mathematical/Logical modelling</li>
				<li>Computational Linguistics</li>
				<li>Simulation</li>
				<li>Cloud Technologies/[P|S]aaS</li>
			</ul>
		</td>


		<td> Target Industries 
			<ul>
				<li>Hardware design: verification and optimisation</li>
				<li>Health Monitoring</li>
				<li>Aerospace</li>
				<li>Medical Devices</li>
			  <li>Social Health Monitoring</li>
			  <li>Library Science/Knowledge and Information Networks</li>
				<li>Computational Biology, Chemistry, Physics</li>
				<li>Computational Psychology, Anthropology</li>
				<li>International Defense/Security/Intelligence</li>
			</ul>
		</td>
	</tr>
</table>

<a href="https://www.linkedin.com/company/10634567">Check us out</a> on LinkedIn, or
					<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
					<script type="IN/FollowCompany" data-id="10634567" data-counter="top"></script>

{{template "foot"}}
{{end}}
