{{define "womb"}}
{{template "head" .}}

<center><h1>The Womb</h1></center>

Welcome to the Womb, where we present news from our incubation initiatives and projects.

</center>
<center>


	<ul style="list-style: none">
		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td> iri/e65615c82fb9b347 </td>
		<td align="left"> SCAFT: Scalable Cloud Architecture for Formal Technologies </td>
	</tr>
	<tr>
		<td colspan="2" class="snippit" border="5px"> This initiative sets forth  design, development, and evaluation of cloud based microservice/cluster
			infrastructure for formal technologies.  Most academic endeavors in this field either do not use clusters
		or use them in a very rudimentary way.  Commercial engines are starting to be based on cloud infrastructure
		where communication, dispatch, decomposition, and dispatch of formal methods are advanced.  This initiative
		involves co-engagement from academia and industry to propose define and deploy (in public where possible)  microservice/protocol 
		based communication between formal processing components </td>
	</tr>
</table>
		</li>

		<li margin="20px">
<table width="70%" class="womb">
	<tr>
		<td> iri/4c8abe2b14085305 </td>
		<td align="left"> AMUS: tools for analysis of musical recordings </td>
	</tr>
	<tr>
		<td colspan="2" class="snippit"> This initiative targets musical analysis of audio data,
			attacking such problems as beat detection and polyphonic note detection.
		</td>
	</tr>
</table>
		</li>
</ul>



{{template "foot"}}
{{end}}
